---
id: xamarin-tutorials
layout: default
title: Tutorials
---
<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <span class="">
        Datalogic Xamarin SDK sample source code is available on <i class="fa fa-github"></i> Github 
        <a class="white-text" href="{{ site.samples_url.xamarin }}">here</a>.
      </span>
    </div>
  </div>
</div>

{% assign diffs = (site.pages | where: "layout" , "tutorial") | group_by: 'tutorial_difficulty' | sort: 'name' %}

<div class="row">
  {% for tutorial_groups in diffs %}
  {% assign tutorials = tutorial_groups.items | sort: 'tutorial_order','last' %}
  {% for page in tutorials %}
  {% if page.tutorial_enabled or site.debug %}
  {% if page.tutorial_platform == "xamarin" %}
  <div class="col s12 m4">   
    <div class="card medium">

      <div class="card-image waves-effect waves-block waves-light  tut-icon" 
	onclick="window.location='{{ page.url | prepend: site.baseurl }}';">
	<i class="fa fa-{{ page.tutorial_icon }}"></i>
      </div>

      <div class="card-content">
        <span class="card-title grey-text text-darken-4">{{ page.title }}</span>
        <p>{{ page.excerpt }}</p>
      </div>

      <div class="card-action right-align {% unless page.tutorial_enabled %}pink lighten-5{% endunless %}">
        <span><a href="{{ page.url | prepend: site.baseurl }}" class="left">Open</a></span>
        {% include tutorial-difficulty.html difficulty=tutorial_groups.name %}
      </div>

    </div>
  </div>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% endfor %}
</div>

